<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>註冊網站</title>
  <script>
    function checkStudentId() {
      var studentId = document.getElementById("student_id").value;
      if (!/^[U][0-9]{8}$/.test(studentId)) {
        alert("學號必須是 9 位數，且第一位字母必須是大寫的 U");
        return false;
      }
      
      if("{{ idIsRepeat }}" === "true"){
        alert("不可重複註冊學生證")
        return false;
      }
      return true;
    }
  </script>
</head>
<body>
  <h1>註冊網站</h1>
  <form action="submit_data" method="post" onsubmit="return checkStudentId()">
    <label for="student_id">學號：</label>
    <input type="text" name="student_id" id="student_id">
    <br>
    <label for="ic_card_id">學身證內碼：</label>
    <input type="text" name="ic_card_id" id="ic_card_id">
    <br>
    <input type="submit" value="註冊">
  </form>
</body>
