<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>註冊網站</title>
    <script src="/static/register.js"></script>
  </head>
  <body>
    <h1>註冊網站</h1>
    <form id="form" onsubmit="checkStudentId(event);">
      <label for="student_id">學號：</label>
      <input type="text" name="student_id" id="student_id" />
      <br />
      <label for="ic_card_id">學身證內碼：</label>
      <input type="text" name="ic_card_id" id="ic_card_id" />
      <br />
      <input type="submit" value="註冊" />
    </form>
  </body>
</html>
